<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A simple sidepanel to pick colors from the webpage" />

    <title>Pick Color</title>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="../../../../../assets/fontawesome/css/fontawesome.css" />

    <link
      rel="stylesheet"
      href="../../../../../assets/fontawesome/css/solid.css" />

    <!-- Theme Switcher -->
    <script type="module" src="./theme.ts"></script>

    <!-- Page Script -->
    <script type="module" src="./index.ts"></script>
  </head>

  <body class="h-full bg-background-light dark:bg-background-dark">
    <!-- <div class="bg-multicolor-gradient fixed top-0 z-10 h-2 w-full"></div> -->
    <!-- Main Section -->
    <main class="flex h-full flex-col">
      <div class="p-5">
        <div class="flex flex-col items-start pb-3 md:flex-row md:items-end">
          <div class="flex items-end">
            <button id="picker-btn" class="btn-primary">
              <i id="picker-btn-icon" class="fa-solid fa-eye-dropper mr-3"></i>
              <span class="text-sm font-semibold md:text-base">Pick color</span>
            </button>

            <button id="open-options" class="btn-secondary">
              <i class="fa-solid fa-cog text-xl"></i>
            </button>
          </div>
          <button id="clear-colors-btn" class="btn-text">
            <i class="fa-solid fa-eraser mr-0.5 text-[11px]"></i>
            Clear colors
          </button>
        </div>
        <span class="text-gray-500"
          >Press&nbsp;
          <span class="rounded-md border border-gray-400 px-2"
            >ctrl+shift+6</span
          >&nbsp; to toggle this view</span
        >

        <div
          id="options"
          class="transition-2 mt-5 hidden rounded-lg border border-gray-600 bg-gray-700 p-5">
          <h2 class="text-lg font-semibold text-white">Options</h2>
          <hr class="my-2 border-gray-600" />
          <ul>
            <li>
              <label for="color-mode" class="text-white">
                Color mode
                <small>Choose between hex, rgb and hsl</small>
              </label>
              <select id="color-mode" class="rounded-md px-2">
                <option value="hex">hex</option>
                <option value="rgb">rgb</option>
                <option value="hsl">hsl</option>
                <option value="flutter">flutter</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div id="colors" class="colors-grid overflow-y-auto px-5"></div>
      <!-- Footer Section -->
      <footer class="flex w-full justify-between p-5 align-middle">
        <span class="self-center dark:text-gray-500">
          Made with <i class="fa-solid fa-heart text-red-500"></i> by
          <a
            href="https://siddsarkar.github.io"
            target="_blank"
            class="text-blue-700 dark:text-blue-200"
            >@siddsarkar</a
          >
        </span>

        <div
          class="shadow-primary-3 hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 active:bg-primary-600 active:shadow-primary-2 dark:hover:shadow-dark-1 dark:focus:shadow-dark-1 dark:active:shadow-dark-1 inline-flex rounded bg-gray-400/40 transition duration-150 ease-in-out focus:outline-none focus:ring-0 motion-reduce:transition-none dark:bg-[#353535]/40 dark:shadow-black/30"
          role="group">
          <button
            type="button"
            data-theme-value="auto"
            class="rounded-s px-3 py-1.5 pt-1 text-[11px] text-gray-800 transition duration-150 ease-in-out dark:text-white">
            <!-- Auto Theme -->
            <i class="fa-solid fa-adjust"></i>
          </button>
          <button
            type="button"
            data-theme-value="light"
            class="rounded-s px-3 py-1.5 pt-1 text-[11px] text-gray-800 transition duration-150 ease-in-out dark:text-white">
            <!-- Light Theme -->
            <i class="fa-solid fa-sun"></i>
          </button>
          <button
            type="button"
            data-theme-value="dark"
            class="rounded-e px-3 py-1.5 pt-1 text-[11px] text-gray-800 transition duration-150 ease-in-out dark:text-white">
            <!-- Dark Theme -->
            <i class="fa-solid fa-moon"></i>
          </button>
        </div>
      </footer>
    </main>
  </body>
</html>
